In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [42]:
df = pd.read_csv('AviationData.csv', low_memory=False)

In [43]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [45]:
# Renaming columns to a more easily usable format
df.columns = df.columns.str.replace(' ','')
df.columns = df.columns.str.replace('.','_').str.lower()
df.head()

,event_id,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [46]:
# How many of the events are classified as accidents?
df.loc[df.investigation_type == 'Accident'].shape

(85015, 31)

In [47]:
df.set_index(df.event_id, inplace=True)
df.drop(columns='event_id', inplace=True)
df.head()

,investigation_type,accident_number,event_date,location,country,latitude,longitude,airport_code,airport_name,injury_severity,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
event_id,,,,,,,,,,,,,,,,,,,,,
20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [48]:
import datetime as dt

In [49]:
df.event_date = pd.to_datetime(df.event_date)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 20001218X45444 to 20221230106513
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   investigation_type      88889 non-null  object
 1   accident_number         88889 non-null  object
 2   event_date              88889 non-null  datetime64[ns]
 3   location                88837 non-null  object
 4   country                 88663 non-null  object
 5   latitude                34382 non-null  object
 6   longitude               34373 non-null  object
 7   airport_code            50132 non-null  object
 8   airport_name            52704 non-null  object
 9   injury_severity         87889 non-null  object
 10  aircraft_damage         85695 non-null  object
 11  aircraft_category       32287 non-null  object
 12  registration_number     87507 non-null  object
 13  make                    88826 non-null  object
 14  model                   88797 non-null  object
 15  amateur_built           88787 non-null  object
 16  number_of_engines       82805 non-null  float64
 17  engine_type             81793 non-null  object
 18  far_description         32023 non-null  object
 19  schedule                12582 non-null  object
 20  purpose_of_flight       82697 non-null  object
 21  air_carrier             16648 non-null  object
 22  total_fatal_injuries    77488 non-null  float64
 23  total_serious_injuries  76379 non-null  float64
 24  total_minor_injuries    76956 non-null  float64
 25  total_uninjured         82977 non-null  float64
 26  weather_condition       84397 non-null  object
 27  broad_phase_of_flight   61724 non-null  object
 28  report_status           82505 non-null  object
 29  publication_date        75118 non-null  object
dtypes: datetime64[ns](1), float64(5), object(24)
memory usage: 21.0+ MB

In [50]:
# Determine which columns have the most null values to help determine which ones are relevant to clean and which ones can be dropped
absent_values = df.isnull().sum().sort_values(ascending=False)
absent_values

schedule                  76307
air_carrier               72241
far_description           56866
aircraft_category         56602
longitude                 54516
latitude                  54507
airport_code              38757
airport_name              36185
broad_phase_of_flight     27165
publication_date          13771
total_serious_injuries    12510
total_minor_injuries      11933
total_fatal_injuries      11401
engine_type                7096
report_status              6384
purpose_of_flight          6192
number_of_engines          6084
total_uninjured            5912
weather_condition          4492
aircraft_damage            3194
registration_number        1382
injury_severity            1000
country                     226
amateur_built               102
model                        92
make                         63
location                     52
accident_number               0
event_date                    0
investigation_type            0
dtype: int64

In [51]:
# Schedule, longitude, latitude, registration number, accident number, airport name and code are not relevant to this analysis, so we can drop them
df = df.drop(columns=[
    'schedule', 
    'latitude', 
    'longitude',
    'registration_number',
    'accident_number',
    'airport_code',
    'airport_name'])

In [52]:
df.head()

,investigation_type,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,model,amateur_built,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
event_id,,,,,,,,,,,,,,,,,,,,,
20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,No,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
20001218X45447,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,No,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,112,No,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,501,No,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [53]:
# Since we are interested in only accidents and not incidents, we cal also drop those
df = df.loc[df.investigation_type == 'Accident']

In [54]:
df.purpose_of_flight.value_counts()

purpose_of_flight
Personal                     49181
Instructional                10475
Unknown                       5543
Aerial Application            4704
Business                      3904
Positioning                   1561
Other Work Use                1237
Aerial Observation             791
Ferry                          787
Public Aircraft                695
Executive/corporate            503
Flight Test                    393
Skydiving                      181
External Load                  122
Public Aircraft - Federal      103
Banner Tow                     101
Air Race show                   98
Public Aircraft - Local         73
Public Aircraft - State         62
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: count, dtype: int64

In [71]:
df.purpose_of_flight.filter(items=)

Series([], Name: purpose_of_flight, dtype: object)

In [55]:
df.columns

Index(['investigation_type', 'event_date', 'location', 'country',
       'injury_severity', 'aircraft_damage', 'aircraft_category', 'make',
       'model', 'amateur_built', 'number_of_engines', 'engine_type',
       'far_description', 'purpose_of_flight', 'air_carrier',
       'total_fatal_injuries', 'total_serious_injuries',
       'total_minor_injuries', 'total_uninjured', 'weather_condition',
       'broad_phase_of_flight', 'report_status', 'publication_date'],
      dtype='object')

In [56]:
df.number_of_engines.value_counts()

number_of_engines
1.0    69069
2.0     9405
0.0     1205
4.0      225
3.0      207
8.0        3
6.0        1
Name: count, dtype: int64

In [59]:
df.loc[df.number_of_engines == 0].aircraft_category.value_counts()

aircraft_category
Glider          347
Balloon         149
Airplane          8
Weight-Shift      1
Name: count, dtype: int64

In [68]:
# Airplanes without engines is most definitely an error in the data
df[(df.number_of_engines == 0) & (df.aircraft_category == 'Airplane')]

,investigation_type,event_date,location,country,injury_severity,aircraft_damage,aircraft_category,make,model,amateur_built,...,purpose_of_flight,air_carrier,total_fatal_injuries,total_serious_injuries,total_minor_injuries,total_uninjured,weather_condition,broad_phase_of_flight,report_status,publication_date
event_id,,,,,,,,,,,,,,,,,,,,,
20001213X25245,Accident,1988-03-27,"OXFORD, United Kingdom",United Kingdom,Fatal(1),Destroyed,Airplane,Piper,PA-38,No,...,Instructional,NaN,1.0,NaN,NaN,NaN,UNK,NaN,Foreign,NaN
20001213X27315,Accident,1988-11-14,"PANAMA CITY, Panama",Panama,Non-Fatal,NaN,Airplane,Airbus Industrie,A-300B4-203,No,...,Unknown,NaN,NaN,1.0,4.0,222.0,VMC,NaN,Foreign,06-02-1995
20001212X23667,Accident,1990-07-27,"BHARU, Malaysia",Malaysia,Non-Fatal,NaN,Airplane,Mcdonnell Douglas,DC-10-30,No,...,Unknown,NaN,NaN,1.0,3.0,3.0,UNK,NaN,Foreign,07-02-1995
20001212X16387,Accident,1991-01-25,"PINEDALE, WY",United States,Non-Fatal,Substantial,Airplane,Piper,PA-34,No,...,Public Aircraft,NaN,NaN,NaN,NaN,1.0,UNK,Landing,Probable Cause,31-01-2018
20001211X16199,Accident,1992-12-29,"LORETO, MEXICO",Mexico,Non-Fatal,Substantial,Airplane,Piper,PA-34-200,No,...,Personal,NaN,NaN,NaN,NaN,2.0,VMC,NaN,Foreign,05-08-1996
20060807X01106,Accident,2006-07-09,"ENUMCLAW, WA",United States,Non-Fatal,Substantial,Airplane,Rolladen-schneider,LS3A,No,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,Landing,Probable Cause,31-10-2006
20080827X01334,Accident,2008-07-05,"Beloit, WI",United States,Non-Fatal,Substantial,Airplane,AB Sportine Aviacija,Genesis 2,No,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,The inadequate visual lookout by the driver of...,25-09-2020
20150616X50938,Accident,2015-06-14,"Pell City, AL",United States,Non-Fatal,Substantial,Airplane,WEATHERLY,201B,No,...,Aerial Application,Cobb Aerial Solutions LLC,0.0,0.0,0.0,1.0,VMC,NaN,The inadequate inspection of the airplane's la...,02-02-2021

In [69]:
df.amateur_built.value_counts()

amateur_built
No     76520
Yes     8437
Name: count, dtype: int64